@import "../../theme/variables";

page-item {

}

.image-full {
  width: auto !important;
  height: 100%;
}

.image-canvas-div {
  display: inline-block;
  margin: 0 auto;
  background: black;
  position: relative;
  border: 1px solid lightgrey;
}

.canvas-position {
  position: relative;
  z-index: 20;
}

.img-position {
  position: absolute;
  z-index: 1;
}

.button-text {
  padding: 10px;
}

.activated-button {
  background: map-get($colors, secondary)
}

.labels-div {
  position: relative;
  float: left;

  margin: 0;

  border: 1px solid red;
}

//Box item formatting
.box-itm {
  //Totally up for debate
  width: 14em;
}

.box-div {
  margin: 0;
  padding: 10% 0 0 0;
  float: left;
}

.box-delete {
  width: 3em;
  float: right;
}

//Box ion-input formatting
.box-input {
  width: 9em;

  float: left;
}

.box-input-label {
  width: 60%;
  float: left;
}

.box-input-id {
  width: 35%;
  float: right;
}

.edit-icon-button {
  transform: translateY(-4px) !important;
  color: darkred;
}

.edit-icon-button:hover {
  color: lightcoral;
  cursor: pointer;
}

.labels-list-header {
  background-color: map-get($colors, primary);
  color: white;
  text-align: center !important;
}
