object-input {
}

.id-label-input {
  transform: translateY(5px);
  width: stretch;
  border: 1px solid rgba(161, 211, 255, 0.42);
}

.id-label-input:focus {
  transform: translateY(5px);
  width: stretch;
  border: 2px solid rgba(56, 255, 59, 0.67);
}

.editing {
  border: 1px solid rgba(255, 8, 28, 0.67)!important;
}

.label-md {
  margin: 0!important;
}
.highlighted-border {
  border: 2px solid #7ef05e;
}